.friend-container {
    padding: 20px 20px 20px 0px;
    color: #b3b3b3;
    margin: 0;
}

.friend-header {
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Proxima Thin', Georgia, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.friend-container .active {
    margin-left: -3px;
}

.friend-container .active:before {
    border-left: 3px solid #1db954;
    position: relative;
    left: -18px;
}